# Supabase Configuration
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Thanus API Configuration
THANUS_API_URL=https://url-thanus.com

# WhatsApp Configuration
AUTH_TOKEN=

# OpenRouter Configuration
OPENROUTER_API_KEY=